<div class="container bg-dark">
  <div class="row">
    <div class="col">
      <h1><a routerLink="/" class="text-white links">Vinoteca</a></h1>
    </div>
    <div class="col">
      <h1><a routerLink="/" class="text-white links">Inicio</a></h1>
    </div>
    <div class="col">
      <h1><a routerLink="/wines" class="text-white links">Vinos</a></h1>
    </div>
    <div class="col">
      <h1><a routerLink="/contact" class="text-white links">Contacto</a></h1>
    </div>
    <div class="col">
      <div class="form-group bg-white">
        <form class="form">
          <mat-form-field class="full-width">
            <input matInput aria-label="Wine" [matAutocomplete]="auto" [formControl]="WineCtrl">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let Wine of filteredWines | async" [value]="Wine.nombre">
                <span>{{Wine.nombre}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-outline-primary" (click)="findWine()">Buscar</button>
    </div>
  </div>
</div>