<div class="card">
    <div class="card-header">
        <h1>Contacto vinoteca</h1>
    </div>
    <div class="card-body">
        <p>
            Le damos la bienvenida a www.vinoteca.com, la tienda online donde comprar vino con  precios económicos es una realidad,
            en nuestra web encontrará un amplio catálogo de vinos, cavas, champagne, whisky, ginebra, vodka..etc, o también puede visitar 
            nuestra tienda en el centro de Barcelona donde tenemos mas de 1000 referencias. 
        </p>

        <p>
            Porque somos su tienda de vinos online: con la mejor selección, un servicio de calidad y una atención personalizada y de confianza.
            Porque somos especialistas en venta online, avalados por más de 16 años de experiencia, con los mejores vinos españoles, italianos, franceses, 
            argentinos o chilenos en catálogo, un servicio de entrega rápido y garantizado, y miles y miles de clientes satisfechos en toda Europa. 
            Una amplísima comunidad compartiendo pasión y buen vino.
        </p>
        
        <p>
            Para solicitar información puede ponerse en contacto con nosotros a través del teléfono: (+34) 555 555 555 o 
            enviándonos un E-Mail: contacto@vinoteca.com
        </p>

        <p>
            Precios exlusivos para la compra online
        </p>
        
        <p>
            Abusar del alcohol es perjudicial para la salud.
            Consuma con moderación.
        </p>
        
        <p>
            Prohibida explícitamente la venta de bebidas alcoholicas a menores de 18 años
        </p>
    </div>
</div>