<div class="container">
    <div class="row">
        <div class="col">
            <img [src]="artist.images | sinfoto" style="max-height: 20rem;" alt="Card image cap">
        </div>
        <div class="col border-bottom">
            <h3>{{artist.name}}</h3>
        </div>
    </div>
    <div class="row mt-5">
        <div class="container">
            <table class="table text-white">
                <thead>
                  <tr>
                    <th scope="col">Foto</th>
                    <th scope="col">Album</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Popularidad</th>
                    <th scope="col">Escuchar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
