<div class="container border-bottom">
    <div class="row mt-3">
      <div class="col">
        <a routerLink="/" class="text-white links"><img src="../../../assets/img/banner-ico.png" alt="Girl in a jacket" width="50" height="50"> </a>
      </div>
      <div class="col">
        <p><a routerLink="/" class="text-white links">Home</a></p>
      </div>
      <div class="col">
        <p><a routerLink="/search" class="text-white links">Search</a></p>
      </div>
      <!-- <div class="col">
        <div class="form-group bg-white">
          <form class="form">
            <mat-form-field class="full-width">
              <input matInput aria-label="Wine" [matAutocomplete]="auto" [formControl]="WineCtrl">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let Wine of filteredWines | async" [value]="Wine.nombre">
                  <span>{{Wine.nombre}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-outline-primary" (click)="findWine()">Buscar</button>
      </div> -->
    </div>
  </div>